<div class="row">
  <div class="col-sm-3" >
    <ul class="list-group">
      <li class="list-group-item"><i class="fas fa-user-secret"></i> Administrar disponibilidad</li>
      <li class="list-group-item"><i class="fas fa-chart-area"></i> Generar reportes</li>
      <li class="list-group-item"><i class="fas fa-chart-pie"></i> Administrar reportes</li>
    </ul>
  </div>
  <div class="col-sm-9">
    <router-outlet></router-outlet>
  </div>
</div>
