<div class="row  m-5">
  <div class="col-sm-4 offset-sm-4">
    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Correo electr&#243;nico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contrase&#241;a</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <button type="button" class="btn btn-primary" [routerLink]="['/home']">Iniciar sesion</button>
    </form>
  </div>
</div>
